<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Online-Voting -System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminLogin</display-name>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoterLogin</display-name>
    <servlet-name>VoterLogin</servlet-name>
    <servlet-class>VoterLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoterLogin</servlet-name>
    <url-pattern>/VoterLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vote</display-name>
    <servlet-name>vote</servlet-name>
    <servlet-class>vote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vote</servlet-name>
    <url-pattern>/vote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact</display-name>
    <servlet-name>Contact</servlet-name>
    <servlet-class>Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>c</display-name>
    <servlet-name>c</servlet-name>
    <servlet-class>c</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>c</servlet-name>
    <url-pattern>/c</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>votee</display-name>
    <servlet-name>votee</servlet-name>
    <servlet-class>votee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>votee</servlet-name>
    <url-pattern>/votee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vota</display-name>
    <servlet-name>Vota</servlet-name>
    <servlet-class>Vota</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vota</servlet-name>
    <url-pattern>/Vota</url-pattern>
  </servlet-mapping>
</web-app>